<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
   <title>ElectroCore Space Project</title>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no»"/>
   <link rel="shortcut icon" href="{% static 'img/favicon.png' %}" type="image/x-icon"/>
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
   <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}"/>
   <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
</head>
   <body>
    <div class="content-box">
    <header>
        <div class="All_header_menu">
            <div class="logo">
                <a href="{% url 'spaceapp:base' %}"><h1>ElectroCore Space Project</h1></a>
				</div>
            <div class="top_menu">
                <ul>
					<li><a href="{% url 'spaceapp:project' %}">Наш проект</a></li>
					<li><a href="{% url 'spaceapp:develops' %}">Разработки</a></li>
                    <li><a href="{% url 'spaceapp:feedback' %}">Обратная связь</a></li>
                </ul>
			</div>
		</div>
        <div class="wrapper">
            <div class="search_box">
                <div class="search_btn"><input type="image" src="{% static 'img/sear_icon.png' %}" alt="search" width="25px" height="25px"/></div>
                <input type="search" class="input_search" placeholder="Поиск" font-size="15px">
            </div>
        </div>
	</header>
	<div class="background_base">
    <div class="advertisement">
		<p>Добро пожаловать на сайт нашего проекта!</p>
		<p>Наш проект сопровождает экспедиции на другие планеты и проводит исследовательские работы!</p>
		<p>Хотите вписать свое имя в эпоху космических открытий?</p>
		<p>Тогда переходите по ссылкам на экспедиции и заполните форму.</p>
	</div>
	<div class="middle_content_box">
		<div class="swiper mySwiper">
			<div class="swiper-wrapper">
				<div class = "swiper-slide">
				<a href="{% url 'spaceapp:gliese' %}"><img src="{% static 'img/Gliese581c.png' %}" alt="Gliese581c"/></a>
				</div>
				<div class="swiper-slide">
				<a href="{% url 'spaceapp:kepler' %}"><img src="{% static 'img/Kepler22.jpg' %}" alt="Kepler22"/></a>
				</div>
				<div class="swiper-slide">
				<a href="{% url 'spaceapp:GJ504b' %}"><img src="{% static 'img/PinkPlanetGJ504b.jpg' %}" alt="GJ504b"/></a>
				</div>
			   </div>
			</div>
		</div>
		<div class="vertical_content_box">
			<div class="swiper-wrapper-vertical">
				<div class="circular-bar">
				<div class="swiper-container">
				<div class="swiper-slide-vertical"><img src="{% static 'img/Gliese581c.png' %}" alt=""></div>
				<div class="swiper-slide-vertical"><img src="{% static 'img/Kepler22.jpg' %}" alt=""></div>
				<div class="swiper-slide-vertical"><img src="{% static 'img/PinkPlanetGJ504b.jpg' %}" alt=""></div>
					</div>
				</div>
			</div>
		</div>
		<div class="buttons">
		<div class="btn1">
			<a href="{% url 'spaceapp:nimro' %}"><img src="{% static 'img/button1.jpg' %}" alt="btn1"/></a>
		</div>
		<div class="btn2">
			<a href="{% url 'spaceapp:chimaira' %}"><img src="{% static 'img/button2.jpg' %}" alt="btn2"/></a>
			</div>
		<div class="btn3">
			<a href="{% url 'spaceapp:tanos' %}"><img src="{% static 'img/button3.jpg' %}" alt="btn3"></a>
		</div>
		<div class="btn4">
			<a href="{% url 'spaceapp:prometheus' %}"><img src="{% static 'img/button4.jpg' %}" alt="btn4"/></a>
		</div>	
	</div>
</div>
<div class="footer">
	<p>Вся информация, представленная на сайте, является вымышленной любые совпадния случайны.
        <p>Designed by SvPr1993</p>
        <p><img src="{% static 'img/logo.png' %}" alt="logo"width="20px" height="20px" style="margin-bottom: -2px"/>ElectroCore spaceapp Project &copy</p>
        </div>
        <div class="images_footer"> 
			<a href="https://www.nasa.gov/"><img src="{% static 'img/nasa_logo.png' %}" alt="nasa" width="55px" height="55px"/></a>
            <a href="https://www.spaceappx.com/"><img src="{% static 'img/space_x_logo.png' %}" alt="space_x_logo" width="65px" height="65px"/></a>
            <a href="https://global.jaxa.jp/"><img src="{% static 'img/jaxa_logo.png' %}" alt="jaxa" width="55px" height="55px"/></a>
            <a href="https://www.esa.int/"><img src="{% static 'img/ESA_logo.png' %}" alt="ESA" width="75px" height="65px"/></a>
    </div>
		  <!-- Swiper JS -->
		  <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
		  <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
		  <script defer src="{% static 'js/app.js' %}"></script>
		  <script defer src="{% static 'js/script_thumbs.js' %}"></script>
		  <script src="{% static 'js/cirlce.js' %}"></script>
		</div>
</body>
</html>