<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
   <title>GJ504b_page</title>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no»"/>
   <link rel="shortcut icon" href="{% static 'img/favicon.png' %}" type="image/x-icon"/>
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
   <link rel="stylesheet" type="text/css" href="{% static 'css/style_gj504b_page.css' %}"/>
   <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
</head>
   <body>
    <div class="content-box">
    <header>
        <div class="All_header_menu">
            <div class="logo">
                <a href="{% url 'spaceapp:base' %}"><h1>ElectroCore Space Project</h1></a>
				</div>
            <div class="top_menu">
                <ul>
					<li><a href="{% url 'spaceapp:project' %}">Наш проект</a></li>
					<li><a href="{% url 'spaceapp:develops' %}">Разработки</a></li>
                    <li><a href="{% url 'spaceapp:feedback' %}">Обратная связь</a></li>
                </ul>
			</div>
		</div>
        <div class="wrapper">
            <div class="search_box">
                <div class="search_btn"><input type="image" src="{% static 'img/sear_icon.png' %}" alt="search" width="25px" height="25px"/></div>
                <input type="text" class="input_search" placeholder="Поиск">
            </div>
        </div>
	</header>
<div class="background_article">
    <div class="frame_article">
  <div class="article">
    <img src="{% static 'img/GJ504b_photo.png' %}" alt="GJ504b_photo"/>
    <p><u><b>На данный момент у нас отсутствуют изображения данной планеты, а представленное фото носит лишь иллюстративный характер.</b></u></p>
  <p>GJ504b - экзопланета в созвездии Дракон, принадлежащая к классу суперземель, в 560 световых годах от Земли. 
    Обращается вокруг желтого карлика Kepler-10. Год на Kepler-10c длится 45 земных дней.
    <p><b>Полет к планете GJ504b будет осуществлятся на новейшем корабле Prometheus-UX754ii.</p>
    <p>Сопровождение космического корабля Prometheus-UX754ii будет осуществлять искусственный интелект Chimaira, а также анализировать и передавать все данные по экспедиции.</p>
    <p>Высадка дронов и остальная необходимая работа для проведения данной экспедиции будет проводится в режиме онлайн.</p>
    <p>Для того чтобы ничего не пропустить заполните форму и мы сообщим Вам о начале трансляции!</b></p>
    <button class="show-modal" align="center">Подписаться на трансляцию</button>
    <div class="modal hidden">
        <button type="button" class="close-modal">&times;</button>
        <div class="modal_style">
            <form class="form">
              <h2 class="form_title">Ввод данных</h2>
              <div class="form_group">
                <input class="form_input" type="text" placeholder="Введите Ваше имя" align="center" maxlength="21">
                <input class="form_input" type="text" placeholder="Введите Ваш email или телефон" align="center">
                <label class="form_label"></label>
            <div class="send">
            <input type="submit" align="center" value="Отправить">
        </form>
      </div>
    </div>
    </div>
    </div>
    <div class="overlay hidden"></div>
    <script src="{% static 'js/script.js' %}" ></script>
    </div>
  </div>
</div>
<div class="footer_gj504b_page">
    <p>Вся информация, представленная на сайте, является вымышленной любые совпадния случайны.
        <p>Designed by SvPr1993</p>
        <p><img src="{% static 'img/logo.png' %}" alt="logo"width="20px" height="20px" style="margin-bottom: -2px"/>ElectroCore Space Project &copy</p>
        </div>
        <div class="images_footer"> 
            <a href="https://www.nasa.gov/"><img src="{% static 'img/nasa_logo.png' %}" alt="nasa" width="55px" height="55px"/></a>
            <a href="https://www.spaceappx.com/"><img src="{% static 'img/space_x_logo.png' %}" alt="space_x_logo" width="65px" height="65px"/></a>
            <a href="https://global.jaxa.jp/"><img src="{% static 'img/jaxa_logo.png' %}" alt="jaxa" width="55px" height="55px"/></a>
            <a href="https://www.esa.int/"><img src="{% static 'img/ESA_logo.png' %}" alt="ESA" width="75px" height="65px"/></a>
    </div>
</body>
</html>