<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
   <title>Kepler-22b</title>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no»"/>
   <link rel="shortcut icon" href="{% static 'img/favicon.png' %}" type="image/x-icon"/>
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
   <link rel="stylesheet" type="text/css" href="{% static 'css/style_kepler_page.css' %}"/>
   <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
</head>
   <body>
    <div class="content-box">
    <header>
        <div class="All_header_menu">
            <div class="logo">
              <a href="{% url 'spaceapp:base' %}"><h1>ElectroCore Space Project</h1></a>
            </div>
                <div class="top_menu">
                    <ul>
              <li><a href="{% url 'spaceapp:project' %}">Наш проект</a></li>
              <li><a href="{% url 'spaceapp:develops' %}">Разработки</a></li>
                        <li><a href="{% url 'spaceapp:feedback' %}">Обратная связь</a></li>
                </ul>
			</div>
		</div>
    <div class="wrapper">
      <div class="search_box">
        <div class="search_btn"><input type="image" src="{% static 'img/sear_icon.png' %}" alt="search" width="25px" height="25px"/></div>
          <input type="text" class="input_search" placeholder="Поиск">
      </div>
  </div>
	</header>
  <div class="background_article">
    <div class="frame_article">
  <div class="article">
  <img src="{% static 'img/kepler_photo.png' %}" alt="kepler_photo"/>
<p>Кеплер-22 b — экзопланета у звезды Кеплер-22 в созвездии Лебедя, относящаяся к типу мининептунов. 
  Это первая подтверждённая экзопланета, найденная космическим телескопом «Кеплер» (НАСА), которая обращается в обитаемой зоне солнцеподобной звезды. 
  Планета была подтверждена наземными наблюдениями. 
  Для подтверждения планетной природы Kepler-22 b был использован метод, заключающийся в исключении всех возможных ложных вариантов, которые могут имитировать транзиты планет.</p>
<p><b>Экспедиция к планете Кеплер-22b будет совершена на корабле новейшем корабле NASA NA-1969-III.</p>
<p><img src="{% static 'img/NA-1969-III.png' %}" alt="spaceship" style="margin-top: 10px" "margin-bottom: 10px"></p>
<p>Наш проект предоставляет искусственный интелект Chimaira, разработанный специально для подобных экспедиций, и новейших роботов Snitch-2378.&nbsp;</p>
<p><img src="{% static 'img/snitch.jpg' %}" alt="snitch" style="margin-top: 10px" "margin-bottom: 10px"></p>
<p>Спектральный анализ показал, что на планете Кеплер-22b есть практически вертикальная скала с гладкой поверхностью.</p>
<p>Мы оснастили нащих роботов Snitch-2378 специальными лазерами для резки на горной местности и хотим выгравировать на скале некоторые надписи и имена первых 200.000 человек, которые заполнят форму ниже</p>
<p>Вы также можете выбрать шрифт для Вашего имени.</b></p>
"/************************/" {{ User0 }} <button class="show-modal" align="center">Заполнить данные</button>
<div class="modal hidden">
  <button type="button" class="close-modal">&times;</button>
  <div class="modal_style">
      <form class="form" target="" method="post">
          {% csrf_token %}
        <h2 class="form_title">Ввод данных</h2>
        <div class="form_group">
          <input class="form_input" type="text" name="name" placeholder="Введите Ваши имя и фамилию" align="center" maxlength="21">
          <select class="font_input">
            <option value="">Выберете шрифт</option>
          </select>
          <label class="form_label"></label>
      <h3>Внимание! Введенные имя и фамилия не должны превышать более 21 символа.</h3>
      <div class="send">
      <input type="submit" align="center" value="Отправить">
  </form>
</div>
</div>
</div>
</div>
<div class="overlay hidden"></div>
<script src="{% static 'js/script.js' %}"></script>
</div>
</div>
</div>
<div class="footer_kepler_page">
	<p>Вся информация, представленная на сайте, является вымышленной любые совпадния случайны.
        <p>Designed by SvPr1993</p>
        <p><img src="{% static 'img/logo.png' %}" alt="logo"width="20px" height="20px" style="margin-bottom: -2px"/>ElectroCore spaceapp Project &copy</p>
        </div>
        <div class="images_footer"> 
          <a href="https://www.nasa.gov/"><img src="{% static 'img/nasa_logo.png' %}" alt="nasa" width="55px" height="55px"/></a>
          <a href="https://www.spaceappx.com/"><img src="{% static 'img/space_x_logo.png' %}" alt="space_x_logo" width="65px" height="65px"/></a>
          <a href="https://global.jaxa.jp/"><img src="{% static 'img/jaxa_logo.png' %}" alt="jaxa" width="55px" height="55px"/></a>
          <a href="https://www.esa.int/"><img src="{% static 'img/ESA_logo.png' %}" alt="ESA" width="75px" height="65px"/></a>
</div>
</body>
</html>