<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="shortcut icon" href="{% static 'img/favicon.png' %}" type="image/x-icon"/>
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
   <title>Project</title>
   <link rel="stylesheet" type="text/css" href="{% static 'css/style_project.css' %}"/>
   <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
</head>
   <body>
    <div class="content-box">
    <header>
        <div class="All_header_menu">
            <div class="logo">
                <a href="{% url 'spaceapp:base' %}"><h1>ElectroCore Space Project</h1></a>
				</div>
            <div class="top_menu">
                <ul>
					<li><a href="{% url 'spaceapp:project' %}">Наш проект</a></li>
					<li><a href="{% url 'spaceapp:develops' %}">Разработки</a></li>
                    <li><a href="{% url 'spaceapp:feedback' %}">Обратная связь</a></li>
                </ul>
			</div>
		</div>
        <div class="wrapper">
            <div class="search_box">
                <div class="search_btn"><input type="image" src="{% static 'img/sear_icon.png' %}" alt="search" width="25px" height="25px"/></div>
                <input type="text" class="input_search" placeholder="Поиск">
            </div>
        </div>
	</header>
    <div class="background_article">
        <div class="article">
            <img src="{% static 'img/office.jpg' %}" alt="office_img" style="margin-bottom: 10px"/>
          <p><b>Electrocore Space Project</b> - это перспективный международный проект, который занимается сопровождением космических экспедиций.</p>
          <p>Нашей визитной карточкой является разработка искусственных интелектов Nimro и Chimaira.
            ИИ Nirmo предназначен для сопрождения исследований на относительно небольшие расстояния,
            ИИ Chimaira, наоборот, разработана для исследований так сказать в "неизвестность".
            Оба ИИ отлично проявили себя в ходу испытаний. ИИ Nimro успешно сопровождал экспедиции на Марс и Плутон, а также анализировал спектральный анализ Глизе 581с.
            ИИ Chimaira анализировала и передавала точные данный со спутников о других планетах, в частности благодаря данному ИИ удалось открыть уникальную парктически 
            вертикальную гору на планете Кеплер 22b.
            Мы сотрудничаем с организациям NASA, SpaceX, ESA, JAXA, KARI, SSTL.
            Наши представительства работаю в США, ЕС, ОАЭ, Сингапуре, Южной Корее, Японии и Австралии.</p>
        </div>
</div>
<div class="footer_project_page">
<p>Вся информация, представленная на сайте, является вымышленной любые совпадния случайны.
    <p>Designed by SvPr1993</p>
    <p><img src="{% static 'img/logo.png' %}" alt="logo"width="20px" height="20px" style="margin-bottom: -2px"/>ElectroCore Space Project &copy</p>
    </div>
    <div class="images_footer"> 
        <a href="https://www.nasa.gov/"><img src="{% static 'img/nasa_logo.png' %}" alt="nasa" width="55px" height="55px"/></a>
        <a href="https://www.spaceappx.com/"><img src="{% static 'img/space_x_logo.png' %}" alt="space_x_logo" width="65px" height="65px"/></a>
        <a href="https://global.jaxa.jp/"><img src="{% static 'img/jaxa_logo.png' %}" alt="jaxa" width="55px" height="55px"/></a>
        <a href="https://www.esa.int/"><img src="{% static 'img/ESA_logo.png' %}" alt="ESA" width="75px" height="65px"/></a>
</div>
</body>
</html>