@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Century Gothic;
  } 
  body {
    background-image: url('../img/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }
  .content-box{
    background-color: #dbdbdb;
    border: 1px solid #dbdbdb;
    max-width: 1240px;
    height: 1040px;
    justify-content: center;
    margin-left: 350px;
    box-shadow: 0 0 5px 2px;
    color: white;
  }
  
  header {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    padding-top: 20px;
  }
  
  .logo, .top_menu {
    display: inline-block;
    margin-right: 30px;
  }
  
  .top_menu li {
    margin-right: 20px;
    margin-top: 8px;
    display: inline-block;
    vertical-align: middle;
  }
  
  .top_menu a {/*Расположение текста меню на главной странице*/
    /*блок а привязвывется к конкетной ссылки, иначе анимаия будет разпростанятся на все, где есть тег а*/
    vertical-align: middle;
    font-family: Century Gothic;
    color: rgb(97, 97, 97);
    text-decoration: none;
    position: relative;
    color: #484848;
    font-size: 1.25rem;
    text-decoration: none;
  }

.top_menu a::before {/*Весь блок а - это плавное подчеркивание*/
    content: '';
    position: absolute;
    left: 0; bottom: -5px;
    width: 0;
    height: 1.5px;
    background-color: rgb(0, 0, 0);
}

.top_menu a:hover:before {
    width: 100%;
}

.top_menu a::before {
    transition: width 0.35s;
}

.top_menu a:hover{/*цвет текста при наведении курсора на него*/
  color: black;
}
  
.top_menu a:hover{/*цвет текста при наведении курсора на него*/
    color: black;
  }
  
.logo {/*Расположение и свойства логотипа на главной странице*/
    font-family: Century Gothic;
    font-size: 15px;
    color: gray;
    vertical-align: middle;
  }
.logo a {/*Это свойство убирает подчеркивание и устанавливает нужный цвет лототипа и надписи Electrocore Space Project*/
  text-decoration: none;
  color: gray;
}
  h1{
    background: url("..static/img/logo.png") no-repeat;
    background-size: 33px;
    padding-left: 36px;
  }
  /*Блок search все что отностится к иконки и строке поиск*/
  .wrapper{
    min-height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .search_box{/*Свойства внешнего серого фона*/
    background: #9f9fa0;
    position: relative;
    padding: 15px;
    border-radius: 50px;
    display: flex;
    height: 40px;
  }

  .search_box .search_btn{/*свойства иконки внутри серого поля*/
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #b3b3b3;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin-right: 15px;
    cursor: pointer;
    margin-top: -10px;
  }
  
  .search_box .input_search{/*Строка поиска внутри серого фона*/
    outline: none;
    border: 0;
    background: #ffffff;
    border-radius: 50px;
    padding: 15px 10px;
    width: 200px; 
    height: 25px;
    color: #9c9c9c;
    margin-top: -10px;
    font-size: 15px;
  }
  
  ::placeholder {
    color: #0c0c0c;
  }
  
  ::-webkit-input-placeholder {
    color: #fff;
  }
  
  :-ms-input-placeholder {
    color: #ffffff;
  }
.background_article{/*Свойство и расположение фона статьи*/
    background-image: linear-gradient(180deg, rgb(128, 80, 116), rgb(255, 255, 255) 100%);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 100% 100%;
    width: 1240px;
    height: 800px;
  }
.frame_article{/*Свойства рамки для контента страницы*/
  margin-left: 20%;
  width: 750px;
  height: 800px;
  justify-content: center;
  background: rgba(73, 73, 73, 0.3);
  backdrop-filter: blur(3.4px);
  border: 1px solid rgba(150, 150, 150, 0.3);
}
/*Расположение и стили текста статьи*/
.article{
  width: 900px;
  margin-top: 10px;
  padding: 2%;
  text-align: justify;
  color:rgb(22, 22, 22);
  position: relative;
  width: 750px;
}
/*Свойство изображения к статье*/
.article img{
  width: 700px;
  height: 400px;
  box-shadow: 0 0 5px 2px;
  position: relative;
}
button{/*Свойство рамки "Написать имя"*/
  padding: 15px 50px;
  text-decoration: none;
  font-size: 24px;
  color: white;
  border-radius: 50px;
  border: 1px solid rgb(153, 153, 153);
  margin-top: 1px; 
  background: linear-gradient(to bottom, #0000cc 0%, #ff6666 100%);
  margin-left: 155px;
}
button:hover{/*Цвет рамки "Написать имя"*/
  background: #6363638a;
}
button:active{/*Анимания рамки "Написать имя" при нажатие на нее*/
  transform: translateY(2px);
}

.show-modal:focus {
  outline: none;
}

.close-modal[type=button] {/*Закрытие модального окна, крестика*/
  position: absolute;
  top: -1rem;
  right: -1.2rem;
  font-size: 2rem;
  color: #333;;
  cursor: pointer;
  border: none;
  background: none;
}
/* -------------------------- */
/* Классы для запуска моладьного окна */
.hidden {
  display: none;
}

.modal {/*Свойства модального окна*/
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  background-color: rgb(206, 206, 206);
  padding: 6rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.modal_style{/*Стиль текста и ввода данных в модальном окне*/
  font-family: Century Gothic;
  font-size: 25px;
  justify-content: center;
  text-align: center;
}

.form_title{/*Оформление заголовка "Введите данные"*/
text-align: center;
margin: 0 0 32px 0;
font-weight: normal;
}

.form_group{
  position: relative;
  margin-bottom: 32px;
}

.form_label{
  position: center;
  top: 0;
  z-index: -1;
  color:#000000;
  transition: 0.3s;
  font-size: 15px;
}
.form_input{/*Строка ввода ФИО*/
  width: 100%;
  padding: 0 0 10px 0;
  border: none;
  border-bottom: 1px solid #e0e0e0;
  outline: none;
  transition: 0.3s;
  background-color: transparent;
  text-align: center;
  font-size: 15px;
  margin-bottom: 20px;
}

.form_input:focus {
  border-bottom: 1 px solid #1a73a8;
}

.font_input:focus {
  border-bottom: 1 px solid #1a73a8;
}

h2{/*Свойства "ввода имени" в модальном окне*/
  font-family: Century Gothic;
  text-align: center;
  font-size: 35px;
}

h3{/*Свойства внимания об ограничении ввода символов в модальном окне*/
  font-size: 15px;
  font-family: Century Gothic;
  text-align: center;
  margin-bottom: 35px;
  margin-top: 20px;
}

input[type=submit] {/*Отправка ФИО в списки*/
    padding:5px 15px; 
    background:#000000;
    color: white; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    font-size: 25px;
    margin-top: 20px;
}
input[type=submit]:hover{/*Цвет рамки "Написать имя"*/
  background: #4d4d4d8a;
}
input[type=submit]:active{/*Анимания рамки "Написать имя" при нажатие на нее*/
  transform: translateY(2px);
}

.overlay {/*Задний фон окна после открытия*/
  position: absolute;
  top: -1.3%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
  width: 750px;
  height: 800px;
}
  /*Стиль и расположение авторский прав*/
  .footer_gj504b_page{
    color:rgb(97, 97, 97);
    font-size: 13.5px;
    text-align: center;
    margin-top: 35px;
  } 
  .images_footer{/*Свойства изображений футера*/
    display: inline;
    align-items: right;
    float: right;
    margin-top: -50px;
  }