@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Century Gothic;
  } 
body {
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }
.content-box{
    background-color: #dbdbdb;
    border: 1px solid #dbdbdb;
    max-width: 1240px;
    height: 1100px;
    padding: 20px;
    justify-content: center;
    margin-left: 350px;
  }

header {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
  }
  
.logo, .top_menu {
    display: inline-block;
    margin-right: 10px;
  }
  
.top_menu li {
    margin-right: 20px;
    margin-top: 8px;
    display: inline-block;
    vertical-align: middle;
  }
  
.top_menu a {/*Расположение текста меню на главной странице*/
    vertical-align: middle;
    font-family: Century Gothic;
    color: rgb(97, 97, 97);
    text-decoration: none;
  }
  
a {
      position: relative;
      color: #484848;
      font-size: 1.25rem;
      text-decoration: none;
  }
  
a::before {/*Весь блок а - это плавное подчеркивание*/
      content: '';
      position: absolute;
      left: 0; bottom: -5px;
      width: 0;
      height: 1.5px;
      background-color: rgb(0, 0, 0);
  }
  
a:hover:before {
      width: 100%;
  }
  
a::before {
      transition: width 0.35s;
  }
  
.top_menu a:hover{/*цвет текста при наведении курсора на него*/
    color: black;
  }
  
.logo {/*Расположение и свойства логотипа на главной странице*/
    font-family: Century Gothic;
    font-size: 15px;
    color: gray;
    vertical-align: middle;
  }
h1{
    background: url("logo.png") no-repeat;
    background-size: 31px;
    padding-left: 36px;
}
  /*Блок search все что отностится к иконки и строке поиск*/
.wrapper{
    min-height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.search_box{/*Свойства внешнего серого фона*/
    background: #9f9fa0;
    position: relative;
    padding: 15px;
    border-radius: 50px;
    display: flex;
    height: 40px;
}
  
.search_box .search_btn{/*свойства иконки внутри серого поля*/
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #b3b3b3;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin-right: 15px;
    cursor: pointer;
    margin-top: -10px;
}
  
.search_box .input_search{/*Строка поиска внутри серого фона*/
    outline: none;
    border: 0;
    background: #ffffff;
    border-radius: 50px;
    padding: 15px 10px;
    width: 200px; 
    height: 25px;
    color: #9c9c9c;
    margin-top: -10px;
    font-size: 15px;
}
  
::placeholder {
    color: #0c0c0c;
}
  
::-webkit-input-placeholder {
    color: #fff;
}
  
:-ms-input-placeholder {
    color: #ffffff;
}
.advertisement{
    font-family: Century Gothic;
    font-size: 25px;
    text-align: center;
    padding-bottom: 10px;
    padding-top: -30px;
    color: rgb(97, 97, 97);
}
  
.mySwiper {
    --swiper-navigation-color: #000000;
    --swiper-pagination-color: #000000;
}
.swiper {/*Cвойства высоты, ширины, закругления концов изображения*/
  max-width: 1220px;
  overflow: hidden;
  text-align: center;
  position: relative;
}
  
.swiper-slide img {/*Свойства изборажения свайпера*/
    object-fit: cover;
    display: flex;
    align-items: center;
    position: relative;
    height: 60vh;
    width: 100vh;
    margin-left: 150px;
    justify-content: space-around;
    }
  
.buttons{/*Общее свойство 4 изображения ИИ и космических короблей*/
    display: flex;
    justify-content: center;
}
  
.btn1 img{
    height: 200px;
    width: 200px;
    display: flex;
    margin: 0 auto;
    padding-top: 30px;
    justify-content: center;
    margin-right: 10px;
    border-radius: 10px;
}
.btn2 img{
    height: 200px;
    width: 200px;
    margin: 0 auto;
    padding-top: 30px;
    display: flex;
    justify-content: center;
    margin-right: 10px;
    border-radius: 10px;
}
.btn3 img{
    height: 200px;
    width: 200px;
    margin: 0 auto;
    padding-top: 30px;
    display: flex;
    justify-content: center;
    margin-right: 10px;
    border-radius: 10px;
}
.btn4 img{
    height: 200px;
    width: 200px;
    margin: 0 auto;
    padding-top: 30px;
    display: flex;
    justify-content: center;
    margin-right: 10px;
    border-radius: 10px;
}
.buttons img:hover{
    filter: opacity(85%);
}
  /*Самый нижний блок*/
.footer{
    color:rgb(97, 97, 97);
    font-size: 13.5px;
    text-align: center;
    margin-top: 35px;
}