*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', arial;
    box-sizing: border-box;
  }
  
  body{
    background-color: #e8f0f7;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.swiper-container {
    width: 100%;
    max-width: 940px;
    height: 500px;
    margin: 0 auto;
}